/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-electric-1: #0bd7df;
  --clr-dark: #1f2142;
  --clr-light: #363868;
  --clr-grey-1: #8e8e91;
  --clr-white: #eceff5;
  --clr-green-1: #009a1f;
  --ff-primary: "Mulish", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-electric-2);
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  z-index: 0;
  letter-spacing: var(--spacing);
  -webkit-animation: fadeInAnimation ease 1.5s;
  animation: fadeInAnimation ease 1.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
main {
}

section {
  width: 60vw;
  margin: auto;
  padding: 5rem 0;
}

@media screen and (max-width: 992px) {
  section {
    width: 80vw;
    margin: auto;
  }
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  padding: 2rem 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.5rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 0.25rem solid var(--clr-white);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.btn:hover {
  border-color: var(--clr-light);
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.section-title h2 {
  text-transform: uppercase;
}

.blue-span-text {
  color: var(--clr-primary-5);
}

.white-span-text {
  color: var(--clr-white);
}

.section {
  padding: 7rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline-white {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-white);
  margin: 2rem auto;
}

/*
=============== 
Navbar
===============
*/

.nav-title {
  margin: auto 0;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  color: var(--clr-light);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 2000;
  transition: var(--transition);
}

.nav-socials {
  display: none;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--clr-primary-8);
  color: var(--clr-primary-1);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:focus::before {
  transform: scaleX(1);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 280px;
}

.navbar-hidden {
  visibility: hidden;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-title {
    margin: auto;
  }

  /* hide toggle button */
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
    margin: 0 1rem;
    font-size: 1.25rem;
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
    background: transparent;
  }
  .nav-socials {
    display: flex;
    color: var(--clr-light);
  }
  .nav-icon {
    margin: 0 0.7rem;
    color: var(--clr-primary-7);
    font-size: 1.5rem;

    transition: var(--transition);
  }
  .fa-facebook,
  .fa-instagram,
  .fa-at {
    transition: var(--transition);
  }

  .nav-icon:hover .fa-facebook {
    color: #4267b2;
  }

  .nav-icon:hover .fa-instagram {
    color: #8a3ab9;
  }

  .nav-icon:hover .fa-fa-at {
    color: rgb(245, 59, 59);
  }
  .nav-link::before {
    left: -3%;
    top: 94%;
    background-color: var(--clr-primary-5);
    transform-origin: center;
  }

  .nav-link:hover::before,
  .nav-link:focus::before {
    transform: scaleX(1);
  }
}

/*
=============== 
Hero
===============
*/
.underline-white-hero {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-white);
}

.underline-electric {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-light);
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(/images/—Pngtree—background\ frame\ with\ fluid\ style_1199250.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner {
  width: 60vw;
  color: var(--clr-white);
}
.hero-banner p {
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  max-width: 50rem;
  margin: 3rem 0;
  font-size: 1.25rem;
}
.hero-banner h1 {
  text-transform: capitalize;
  padding-top: 0;
  font-size: 3.5rem;
}

.banner-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.hero-icon {
  transition: var(--transition);
}
.banner-btn:hover .hero-icon {
  color: var(--clr-electric-1);
}

@media screen and (max-width: 992px) {
  .underline-white-hero {
    margin: 0 auto;
  }
  .hero {
    text-align: center;
  }
  .hero-banner h1 {
    font-size: 2.5rem;
  }
  .hero-banner p {
    font-size: 1rem;
    font-weight: 400;
  }
  .banner-btn {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .hero {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  .underline-white-hero {
    margin: 0 auto;
  }
  .hero {
    text-align: center;
  }
  .hero-banner h1 {
    font-size: 2.5rem;
  }
  .hero-banner p {
    font-size: 1rem;
    font-weight: 400;
  }
  .banner-btn {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .hero {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
=============== 
Intro
===============
*/
.section-intro {
}
.intro-text-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.intro h2 {
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
}
.intro h3 {
  text-transform: none;
  line-height: 2rem;
  color: var(--clr-electric-5);
  z-index: 1;
  margin-bottom: 0;
}

.electric-text {
  color: var(--clr-electric-2);
  text-transform: capitalize;
}
.intro-text {
  text-align: center;
  /* width: 30vw; */
}
.intro-container ul {
  color: var(--clr-electric-5);
  list-style-type: disc;
  text-align: left;
  font-size: 1.25rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}
li::marker {
  color: var(--clr-electric-2); /* Change the color */
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .intro-mobile {
  padding-left: 5rem;
  transform: translateY(5%);
} */
.intro-btn {
  color: var(--clr-white);
  background: var(--clr-light);
  border: 0.25rem solid var(--clr-light);
  margin-top: 3rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
}
.intro-btn:hover {
  background: var(--clr-light);
  border-color: var(--clr-light);
  color: var(--clr-electric-1);
}
.intro-list {
  list-style-type: disc;
}
.intro-list li {
  margin: 1.25rem;
  font-size: 1.25rem;
  color: #363868;
}
.intro-mobile {
  width: 80%;
}

.intro-picture-container {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .intro-text {
    text-align: center;
    padding-bottom: 0;
  }
  .intro-list {
    padding-top: 1rem;
  }

  .intro-list li {
    color: var(--clr-light);
    font-size: 1rem;
    text-align: center;
  }
  .intro-btn {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .intro-text-container {
    text-align: center;
  }
  .intro-mobile {
    width: 0;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1170px) {
}

/*
=============== 
Footer
===============
*/

#footer {
  background: var(--clr-light);
}

.footer-socials,
.footer-links,
.footer-copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 2rem;
  transition: var(--transition);
}

.footer-icon {
  color: var(--clr-primary-1);
  font-size: 2.5rem;
}

.footer-link,
.copyright {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  font-weight: 500;
  color: var(--clr-white);
  transition: var(--transition);
}

.footer-link:hover {
  color: var(--clr-primary-3);
}

.copyright {
  text-align: center;
  margin: 0 2rem;
  line-height: 2rem;
}

#footer {
  width: 100vw;
}

.footer-container {
  margin: 0 auto;
  width: 60vw;
}

@media screen and (max-width: 992px) {
  #footer {
    padding: 3rem 0;
  }
}

/* 
=====

Tips

=====
*/

.service-text {
  color: var(--clr-dark);
}

.section-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--clr-light);
  z-index: -10;
  padding-bottom: 2rem;
}
.section-cards h2 {
  padding: 0;
}
.container {
  max-width: 60vw;
  width: 60vw;
  overflow: hidden;
  border-radius: 20px;
  z-index: 10;
}
.container .main-card {
  display: flex;
  justify-content: space-between;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: var(--clr-white);
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: var(--clr-light);
  margin-bottom: 14px;
}
.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid var(--clr-white);
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-icon i {
  color: var(--clr-electric-1);
}

.card .content .name {
  font-size: 20px;
  font-weight: 500;
}
.card .content .job {
  font-size: 20px;
}
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}
.job {
  margin-top: 1.5rem;
}
.name {
  color: black;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon {
  font-size: 4rem;
  text-align: center;
}

.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 1rem 0rem;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: var(--clr-white);
  margin: 0.5rem 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}
#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type="radio"] {
  display: none;
}
@media (max-width: 1440px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
  .service-text {
    font-size: 1rem;
  }
  .container {
    max-width: 80vw;
    width: 80vw;
  }
  .button {
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

/* 

QUIZ

*/

.section-quiz {
  padding-top: 1rem;
}

.quiz-title-text {
  color: var(--clr-white);
  line-height: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.quiz-container.correct {
  --hue: var(--hue-correct);
}

.quiz-container.wrong {
  --hue: var(--hue-wrong);
}

.quiz-title div {
  margin-top: 0;
}

#question {
  padding: 2rem;
}
#question {
  color: black;
  font-size: 2rem;
  text-transform: none;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0;
}

.quiz-container {
  margin: auto;
  width: 600px;
  max-width: 80%;
  height: 600px;
  max-height: 600px;
  background-color: var(--clr-white);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.5);
}

.next-btn {
  background-color: var(--clr-light);
  color: var(--clr-white);
  border: 0.25rem solid var(--clr-light);
  border-radius: 8px;
  width: 50%;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  transition: var(--transition);
}

.next-btn:hover {
  color: var(--clr-electric-1);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
  margin: 20px 0;
}

.btn-grid .btn {
  /* --hue: var(--hue-neutral); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-light);
  border-radius: var(--radius);
  padding: 0.75rem 0;
  margin: 0 4rem;
  color: var(--clr-white);
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}

.btn:hover {
  background: var(--clr-light);
  color: var(--clr-electric-1);
}

.btn.correct {
  --hue: var(--hue-correct);
  background-color: var(--clr-green-1);
  color: var(--clr-white);
}
.btn.wrong {
  --hue: var(--hue-wrong);
  background-color: red;
  color: var(--clr-white);
}
.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}
.start-btn {
  margin-top: 0.75rem;
  color: var(--clr-white);
  border-color: var(--clr-light);
  background: #363868;
}

.start-btn:hover {
  background: var(--clr-light);
  color: var(--clr-electric-1);
}

.containerr {
  width: 60vw;
  margin: auto;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
#start-text {
  color: black;
  text-align: center;
  text-transform: none;
  padding: 4rem 2rem;
  margin-bottom: 4rem;
}
.hide {
  display: none;
}
.wrong-answer {
  box-shadow: 0 5px 30px red;
}

@media (max-width: 720px) {
}

@media (max-width: 1280px) {
  .section-quiz {
    background: #363868;
    text-align: center;
    width: 100vw;
    padding-top: 0;
  }
  .quiz-title-text {
    line-height: 3rem;
    padding-top: 0;
    margin: 0;
    font-size: 1.5rem;
  }
  .quiz-container {
    margin-top: 2rem;
    height: 575px;
    max-height: 575px;
  }
  .containerr {
    width: 100vw;
    margin: auto;
    text-align: center;
  }
  .start-btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  #question {
    font-size: 1.25rem;
  }
  .next-btn {
    padding: 0.25rem;
  }
}

@media (min-width: 1280px) {
  .section-quiz {
    background: #363868;

    width: 100vw;
    display: flex;

    justify-content: center;
  }
}

/* 

PHONE

*/

.qr-code {
  height: 35rem;
  max-width: 32rem;
  padding: 5rem 0;
}

.section-app {
  padding-top: 4rem;
}

.section-app h1 {
  text-align: right;
}

.app-title {
  border-radius: var(--radius);
  background: var(--clr-light);
  box-shadow: 0 5px 10px rgba;
  color: var(--clr-white);
}

.app-title .quiz-title-text {
  padding-top: 0;
  margin: 0;
  font-size: 3rem;
  line-height: 4rem;
  color: black;
}

.app-title h2 {
  padding-top: 0;
  font-size: 1.5rem;
  color: black;
  text-align: right;
  text-transform: none;
}

.app-title h1 {
  text-align: center;
}

.underline-chart {
  margin-bottom: 2rem;
}

.qr-image {
  width: 10rem;
  margin: 0 auto;
}

.download-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem 0 4rem 0;
}

.url-container {
  text-align: center;
}

.qr-container {
  text-align: center;
}
.app-btn {
  border-radius: 15rem;
  padding: 0.5rem 0.75rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.app-qr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-container h2 {
  margin: 0 auto;
  color: var(--clr-white);
}

@media (max-width: 1280px) {
  .section-app h1 {
    text-align: center;
  }
  .app-title .quiz-title-text {
    font-size: 2rem;
    line-height: 3rem;
  }
  .app-title h2 {
    font-size: 1rem;
    width: 60%;
    text-align: center;
  }
  .app-btn {
    margin-top: 1rem;
    border-radius: 15rem;
    padding: 0.475rem 0.625rem;

    font-size: 1rem;
  }

  .app-title h1 {
    font-size: 1.5rem;
  }
  .qr-image {
    width: 5rem;
  }
}

@media (min-width: 1280px) {
  .section-quiz {
    background: #363868;

    width: 100vw;
    display: flex;

    justify-content: center;
  }
}

/* 

CHART

*/

.chart-info-text {
  text-transform: none;
  line-height: 2rem;
}

.chart-container {
  margin: 4rem auto 2rem auto;
  width: 25rem;
  height: 25rem;
}

.chart-section {
  padding-bottom: 0;

  /* background-image: linear-gradient(rgb(0,0,0,0.75),
   rgba(0,0,0,0.4)),url(/images/image_hero.avif);
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.chart-section h2 {
  color: black;
  margin-bottom: 2rem;
}
.chart-question-container {
  padding: 0 2rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.chart-question {
  line-height: 2rem;
  padding-top: 4rem;
  color: var(--clr-white);
}

.swiper {
  width: 60vw;
  height: 50rem;
  padding-bottom: 2rem;
  border-radius: var(--radius);
  background-color: var(--clr-light);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.chart-question-container h3,
h4 {
  text-transform: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--clr-electric-1);
  opacity: 1;
}
.chart-section h2 {
  padding: 0 1rem;
}
.swiper-button-next,
.swiper-button-prev {
  padding: 1.5rem;
}
.chart-answer {
  color: var(--clr-white);
}

@media (max-width: 1280px) {
  .swiper {
    width: 80vw;
    height: 525px;
    border-radius: var(--radius);
    background-color: var(--clr-light);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
  .slide-container {
    display: block;
  }
  .chart-container {
    margin: 3rem auto 0 auto;
    width: 12.5rem;
    height: 12.5rem;
  }
  .chart-question-container {
    margin: auto;
  }
  .chart-answer {
    color: var(--clr-white);
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.25rem;
  }
  .chart-question {
    padding-top: 2rem;
    margin-top: 1rem;
    line-height: 1.25rem;
  }
}
